.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    background-color: beige;
    grid-gap: 20px;
    grid-template-areas:
    "a a b" 
    "c d e";
    justify-content: center;
    border-radius: 15px;

}
.box{
    border-radius: 15px;
}
.box1{
    background-image: url("robot.webp");
    grid-area: a;

    


}
.box2{
    grid-area: b;
    background-image:url("chair.webp");
    background-position: center ;

}
.box3{
   

    background-image: url("robot.webp");
    grid-area: c;
    background-position: center ;

}
.box4{
    
    background-color: aquamarine;
    grid-area: d;
    background-position: center ;
    
}
.box5{
    
    background-color: rgb(12, 247, 173);
    grid-area: e;

    
}